
* {
  box-sizing: border-box;
}

.Waffles {
  float: left;
  width: 25%;
  margin: 10px;
  background-color: #A52A2A;
  border: 1px solid black;
  position: relative;
}

.Pancakes {
  float: left;
  width: 25%;
  margin: 10px;
  background-color: #DEB887;
  border: 1px solid black;
  position: relative;
}

.Sandwiches {
  float: left;
  width: 25%;
  margin: 10px;
  background-color: #5F9EA0;
  border: 1px solid black;
  position: relative;
}

#WaffleHeader {
  position: relative;
  width: 25%;
  left: 40%;
}

#PancakeHeader {
  position: relative;
  width: 25%;
  left: 40%;
}

#PancakeContent {
  margin-top: 10px;
}

#SandwichHeader {
  position: relative;
  width: 25%;
  left: 40%;
}

@media (min-width: 768px) and (max-width: 961px) {
  .Waffles {
    width: 45%;
  }

  .Pancakes {
    width: 45%;
  }

  .Sandwiches {
    width: 95%;
  }
}

@media (max-width: 767px) {
  .Waffles {
    margin: 0px;
    width: 100%;
  }

  .Pancakes {
    margin: 0px;
    width: 100%;
  }

  .Sandwiches {
    margin: 0px;
    width: 100%;
  }
}
